[Unit]
Description=EMC ECS Installer start
[Service]
Type=simple
Restart=no
ExecStart=/root/ecs.sh
ExecStop=
Wants=remote-fs.target
After=remote-fs.target
[Install]
WantedBy=default.target