[Unit]
Description=EMC ECS Installer start
After=docker.service
[Service]
Type=forking
Restart=no
ExecStart=/root/ecs.sh
ExecStop=
[Install]
WantedBy=multiuser.target

